/*
Je me suis inspiréee de l'outil inspecter l'elément pour centrer
les elements car align-items:center n'avait pas d'effet
*/
.general{

	background-color: #f3f3f3;
	padding-top: 100px;
	padding-bottom: 140px;
	align-items: center;
	text-align: center;
	align-content: center;
	margin-right:-10px;
	margin-left:-10px;
	display: flex;
}

.first{


	font-size:60px;
	text-align:center;
	color:#eb2ab8;
	font-family:garage-gothic, sans-serif;
	font-weight:bold;
	letter-spacing: -7px;
	line-height: -2;

}
.second{

	margin-left:15px;
	margin-right:15px;



}
.all{
	margin-left: auto;
	margin-right: auto;

}



table{
	display:block;
	
}


.im{
	display:flex;
	align-items:center;
	padding:15px;
	background-color:#ffffff;
	height:240px;
	width:260px;
	margin:45px 15px;
}

img{
	max-width:100%;
}

.leg{
	text-align:center;
	font-weight:bold;
	font-size:30px;
	margin-bottom: 60px;
}

#deuxim{

	background:url(../assets/emoji-bg.png);
}

