/*==============================================*/
/* Fonts                                        */
/*==============================================*/

:root,
body, 
header, 
footer, 
section, 
article, 
div, 
ul, ol, li, 
p, a, span,
label, input, button {
	font-family: "Roboto", Arial;
}

body {
	font-size: 1rem;
	font-weight: 300;



}


/*==============================================*/
/* Navigation                                   */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: header, nav, ul, li, a, div.
 */
 header{
  padding-bottom: 20px;
  display: block;
  position: fixed;
  width: 100%;

  background-color:black;

 }
#menu {

  
  background-attachment: scroll;
  

}
#logo{
	margin-left: 10px;
	float:left;
	margin-top: 30px;
}
#links{

	overflow: auto;
	white-space: nowrap;
	margin-top: 50px;
	float: right;
	padding-left:70px; 
	margin-right:50px;

}
.space{
	color:white;
	padding:14px;
	
}

/*==============================================*/
/* Articles                                     */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: h1, h2, section, article.
 */

 #Accueil h1{
	font-size: 100px;
	text-align: center;
	font-family: Forte;

 }
 
#Accueil h2{
	
	text-align: center;
	font-size: 420%;
	font-style:italic;
	font-family: "Times New Roman", serif;
	margin-bottom: 100px;
}
.subT{
	
	font-family: "Times New Roman", serif;
	font-style:oblique;
	float: left;
	font-size: 210%;
	margin-left: 20px;
	margin-top: 30px;
	
}
.icontent{
	 
	margin-top: 200px;
	width: 100%;
}
.content{

	max-width: 50%;
	margin-left: 10%;
	margin-top: 60px;
	width: 50%;
	float: left;
	font-size: 140%;
	text-align: justify;
	font-family: "Times New Roman", serif;
	

	
}
.img{
	float:right;
	width: 50%;
	display: block;

}
.imgR{
	float:right;
	width:75%;
	

}
article{

	padding-bottom: 900px;

}
/*==============================================*/
/* Recipes                                      */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: h1, ul, li, p.
 */
 
 #Recettes h1{
	font-size: 100px;
	text-align: center;
	font-family: Forte;

 }
 
 #Recettes p {
	  text-align: center;
	  font-size: 35px;
	  font-family: Consolas ;

 }

 
/*==============================================*/
/* Contact                                      */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: h1, label, input.
 */
 #Contact{
	text-align: center;
	
 }
 
 #Contact h1{
	font-size: 100px;
	text-align: center;
	font-family: Forte;

 }
 
 #Contact label{
	 color: blue;
	 font-size: 20px;
 }
 
 #Contact input{
	 border: 2px solid #3CBC8D;;
	 border-radius: 4px;
	 padding: 12px 20px;
	 margin: 8px 0;
 }

 #Contact textarea{
	 border: 2px solid #3CBC8D;;
	 border-radius: 4px;
	 padding: 12px 20px;
	 margin: 8px 0;
 } 
 
 #Contact input[type=submit] {
  width: 30%;
  background-color: gray;
  color: white;
 }
 
 #Contact input[type=reset] {
  width: 30%;
  background-color: black;
  color: white;
 }

/*==============================================*/
/* Footer                                       */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: p.
 */
 #footer{
	 text-align: center;
 }
 
 #footer img.contact{
	width:20px;
	height:20px; 
	margin-left:20px; 
	margin-right:20px;
}

#footer li.contact{
	display:inline;
}

#medias{
	text-align:center;
}
